@{
    ViewData["Title"] = "Order";
}

<div class = "text-center"><p>@ViewBag.Message</p></div>
    <a asp-area="" asp-controller="Home" asp-action="Index">
    <button class="button" action="click">Home page</button>
</a>